`# MongoDB (optional, used by current app)
MONGO_URI=mongodb://localhost:27017/homeServiceDB

# PostgreSQL
# Option 1: Use full connection string
#DATABASE_URL=postgres://user:password@localhost:5432/homeservicedb
# Option 2: use components
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=homeServiceDB
PG_USER=postgres
PG_PASSWORD=2310990108

# Optional: Automatically sync tables on startup (dev only)
#PG_SYNC=false

# JWT secret
JWT_SECRET=please_change_me

# Seeds
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=password123
